:root {
    font-size: 16px;
    font-family: "Open Sans";
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-tertiary: #1d1d21;
    --bg-fourth: #0c0b0b;
    --color-red: #b83030;
    --transition-speed: 350ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

main {
    margin-left: 5rem;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
    background: var(--text-primary);
}

button {
    font-family: "Open Sans";
}

h1 {
    padding-top: 75px;
    font-size: 3rem;
    color: var(--text-secondary);
    text-align: center;
}

/* =============== LOADER ===============*/

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1000;
}
.loader {
    display: inline-block;
    width: 75px;
    height: 75px;
    position: relative;
    color: var(--color-red);
    animation: loader 1.5s infinite ease;
}
  
@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* =============== NAVBAR ===============*/

.navbar {
    width: 5rem;
    height: 100%;
    transition: width 350ms ease;
    position: fixed;
    background-color: var(--bg-primary);
    z-index: 99;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    /* filter: grayscale(100%) opacity(0.7); */
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
    opacity: 0;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}


.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

/* =============== LANDING ===============*/

#landing {
    height: 100vh;
    width: 100%;
    background-image: url(./img/background.jpg);
    background-position: center;
    background-size: cover;
}

.landing-wrapper {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing h1 {
    text-align: center;
    font-size: 5rem;
    color: var(--text-secondary);
    text-shadow: 3px 3px 2px black;
}

#landing h4 {
    text-align: center;
    padding-top: 20px;
    font-size: 1rem;
    color: var(--text-secondary);
    text-shadow: 2px 2px 2px black;
    letter-spacing: 0.1rem;
}

/* =============== COMING SOON ===============*/

#coming-soon h1,
#about-me h1,
#photo-gallery h1,
#cast-message h1 {
    padding-top: 50px;
}

#coming-soon {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-tertiary);
    position: relative;
}

#coming-soon .flexbox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 120px;
}

#coming-soon .textbox {
    width: 350px;
    color: var(--text-secondary);
    text-align: inherit;
    letter-spacing: 0.1rem;
}

#coming-soon h2 {
    font-size: 3rem;
}

#coming-soon h5 {
    font-size: 1rem;
    padding: 20px 0;
}

#coming-soon h6 {
    padding: 50px 0;
    font-size: 1rem;
}

#coming-soon button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 1rem;
    padding: 7px;
    border: 2px solid var(--text-secondary);
    outline: none;
    background-color: var(--text-secondary);
}

#coming-soon button:hover {
    background-color: var(--bg-tertiary);
    color: var(--text-secondary);
}

/* =============== ABOUT ME ===============*/

#about-me {
    width: 100%;
    position: relative;
    background-color: var(--bg-secondary);
}

#about-me .flexbox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 120px;
}

#about-me img {
    width: 500px;
    margin-right: 80px;
}

#about-me .btn-container {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 50px;
}

#about-me .btnbox {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about-me .btnboxtext {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about-me button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    border: 2px solid var(--text-secondary);
}

#about-me .white {
    width: 250px;
    margin: 150px 10px 0 10px;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--bg-secondary);
    background-color: var(--text-secondary);
    border: 2px solid var(--text-secondary);
}

#about-me .white:hover {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

#about-me .textbox {
    display: flex;
    flex-direction: column;
    width: 500px;
    color: var(--text-secondary);
    text-align: right;
}

#about-me h2 {
    font-size: 3rem;
}

#about-me p {
    padding-top: 25px;
    font-size: 1.25rem;
}

/* =============== PHOTO GALLERY ===============*/

#photo-gallery {
    width: 100%;
    background-color: var(--bg-tertiary);
}

#photo-gallery .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#photo-gallery h3 {
    margin-top: 20px;
    width: 800px;
    text-align: center;
    font-size: 1rem;
    color: var(--text-primary);
}

#photo-gallery figcaption {
    color: var(--text-secondary);
    font-size: 0.9rem;
}

#photo-gallery figure img {
    height: 400px;
}

#photo-gallery .gallery {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(17, 100px);
    justify-content: center;
    column-gap: 50px;
}


#photo-gallery .photo {
    width: 500px;
    height: 400px;
    opacity: 0;
}

#photo-gallery .photo:nth-child(odd) {
    transform: translateX(-6rem);
}

#photo-gallery .photo:nth-child(even) {
    transform: translateX(6rem);
}

#photo-gallery .photo.show {
    animation: 
        fadeInSide 1s ease forwards;
}

#photo-gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#photo-gallery .photo.one {
    grid-column: 1;
    grid-row: 1;
}

#photo-gallery .photo.two {
    grid-column: 2;
    grid-row: 3;
}

#photo-gallery .photo.three {
    grid-column: 1;
    grid-row: 6;
}

#photo-gallery .photo.four {
    grid-column: 2;
    grid-row: 8;
}

#photo-gallery .photo.five {
    grid-column: 1;
    grid-row: 11;
}

#photo-gallery .photo.six {
    grid-column: 2;
    grid-row: 13;
}

/* =============== CAST MESSAGE ===============*/

#cast-message {
    height: 50vh;
    width: 100%;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cast-message h3 {
    margin-top: 40px;
    width: 800px;
    text-align: center;
    font-size: 1rem;
    color: var(--text-primary);
}

#cast-message .white {
    width: 250px;
    height: 50px;
    margin-top: 75px;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--bg-secondary);
    background-color: var(--text-secondary);
    border: 2px solid var(--text-secondary);
}

#cast-message .white:hover {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

/* =============== FOOTER ===============*/

footer {
    width: 100%;
    height: 40vh;
    background-color: var(--bg-fourth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .dice {
    width: 200px;
    transform: rotate(0deg);
}

footer .dice:hover {
    transition: var(--transition-speed);
    transform: rotate(360deg);
}

footer button {
    width: 250px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--bg-secondary);
    background-color: var(--text-secondary);
    border: 2px solid var(--text-secondary);
}

footer button:hover {
    background-color: var(--bg-fourth);
    color: var(--text-secondary);
}

footer .socials {
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .socials a {
    width: 40px;
    height: 40px;
}

footer .social-btn {
    display: flex;
    align-items: center;
    color: var(--text-primary);
    text-decoration: none;
}

footer .social-btn:hover {
    color: var(--text-secondary);
}

/* =============== ANIMATION ===============*/

@keyframes fadeIn {
    to {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeInSide {
    to {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes fadeOutRight {
    to {
        opacity: 0;
        transform: translateX(-4rem);
    }
}

/* =============== MEDIA QUERY ===============*/

/* Large screens */
@media only screen and (min-width: 1000px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        animation: fadeIn 200ms ease 270ms forwards;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }
}

/* Small screens */
@media only screen and (max-width: 1000px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }

    .flexbox {
        flex-direction: column;
    }

    main #coming-soon {
        height: inherit;
        text-align: center;
    }

    main #coming-soon img {
        transform: translateX(4rem);
    }

    main #coming-soon .flexbox {
        align-items: center;
    }

    main #about-me .textbox {
        text-align: center;
    }

    main #about-me .btn-container {
        align-items: center;
        flex-direction: column;
    }

    main #about-me .flexbox img {
        transform: translateX(2rem);
        width: 200px;
    }

    main #about-me .flexbox {
        align-items: center;
    }

    main #about-me button {
        width: 110px;
    }

    main #photo-gallery h3 {
        width: 300px;
    }

    main #photo-gallery img {
        width: 400px;
    }

    main #photo-gallery figure {
        width: 400px;
    }
    
    main #photo-gallery .gallery {
        display: grid;
        grid-template-columns: repeat(1, 400px);
        grid-auto-rows: 500px;
        grid-template-rows: repeat(6, 500px);
    }

    main #photo-gallery .photo.one {
        grid-column: 1;
    }

    main #photo-gallery .photo.two {
        grid-column: 1;
        grid-row: 2;
    }

    main #photo-gallery .photo.three {
        grid-column: 1;
       grid-row: 3;
    }

    main #photo-gallery .photo.four {
        grid-column: 1;
        grid-row: 4;
    }

    main #photo-gallery .photo.five {
        grid-column: 1;
        grid-row: 5;
    }

    main #photo-gallery .photo.six {
        grid-column: 1;
       grid-row: 6;
    }

    main #cast-message {
        height: 70vh;
    }

    main #cast-message h3 {
        width: 300px;
    }

    main footer {
        height: 80vh;
    }

    main footer .socials {
        width: 70%;
    }

    main footer .btn-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main footer button {
        margin-top: 10px;
    }

    main .book-container img {
        transform: translateX(4rem);
    }

    main .book-container {
        flex-direction: column;
    }

    main .btn-container {
        flex-direction: column;
    }

    main #bards-corner h1 {
        padding-top: 50px;
    }

    main #portals h1 {
        padding-top: 50px;
    }

    main #meet-characters h1 {
        padding-top: 50px;
    }

    main #meet-characters .flexbox {
        flex-direction: column;
        align-items: center;
    }
}

/* =============== FLEX SETUPS ===============*/

h1 {
    padding-top: 200px;
    font-size: 5rem;
    text-shadow: 3px 3px 2px black;
}

.flex {
    display: flex;
    flex-direction: column;
}

.series-container {
    width: 100%;
    text-align: center;
}

.series-container h2 {
    color: var(--text-secondary);
    padding-top: 100px;
    font-size: 3rem;
    text-shadow: 3px 3px 2px black;
    text-decoration: underline;
}

.series-container:nth-child(odd) {
    background-color: var(--bg-tertiary);
}

.series-container:nth-child(even) {
    background-color: var(--bg-secondary);
}

.book-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-container img {
    width: 400px;
}

.textbox {
    width: 350px;
    color: var(--text-secondary);
    text-align: inherit;
    letter-spacing: 0.1rem;
}

.textbox h3 {
    font-size: 3rem;
    line-height: 3rem;
    padding: 25px 0;
}

.textbox h6 {
    font-size: 1rem;
    padding: 20px;
}

.textbox p {
    color: var(--text-primary);
}

/* =============== ADVENTURES PAGE ===============*/

#adventures {
    width: 100%;
}

#adventures .adventures-land {
    width: 100%;
    height: 50vh;
    background-image: url(./img/adventures.jpg);
    background-position: center;
    background-size: cover;
}

#adventures .adventures-land p {
    color: var(--text-secondary);
    text-align: center;
}

#adventures .btn-container {
    margin: 100px 0;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#adventures .btn-container button {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--bg-secondary);
    background-color: var(--text-secondary);
    border: 2px solid var(--text-secondary);
}

#adventures .btn-container button:hover {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

/* =============== BARD'S CORNER PAGE ===============*/

#bards-corner {
    width: 100%;
}

#bards-corner .bards-land {
    width: 100%;
    height: 50vh;
    background-image: url(./img/bard-background.jpg);
    background-position: center;
    background-size: cover;
}

#bards-corner .bards-land p {
    color: var(--text-secondary);
    text-align: center;
}

#bards-corner .series-container p {
    color: var(--text-primary);
    padding: 20px 0;
}

#bards-corner .audio-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bards-corner button {
    width: 250px;
    height: 50px;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--bg-secondary);
    background-color: var(--text-secondary);
    border: 2px solid var(--text-secondary);
    margin-top: 20px;
}

#bards-corner button:hover {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

/* =============== PORTALS PAGE ===============*/

#portals {
    width: 100%;
}

#portals .portals-land {
    width: 100%;
    height: 50vh;
    background-image: url(./img/portals-background.jpg);
    background-position: center;
    background-size: cover;
}

#portals .portals-land p {
    color: var(--text-secondary);
    text-align: center;
}

#portals button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--bg-secondary);
    background-color: var(--text-secondary);
    border: 2px solid var(--text-secondary);
    margin-top: 20px;
}

#portals button:hover {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

#portals .btn-container {
    margin: 100px 0;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* =============== FREE ADVENTURES PAGE ===============*/

#free-adventures {
    width: 100%;
}

#free-adventures .free-adventures-land {
    width: 100%;
    height: 50vh;
    background-image: url(./img/free-adventure-background.jpg);
    background-position: center;
    background-size: cover;
}

#free-adventures .free-adventures-land p {
    color: var(--text-secondary);
    text-align: center;
}

#free-adventures button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--bg-secondary);
    background-color: var(--text-secondary);
    border: 2px solid var(--text-secondary);
    margin-top: 20px;
}

#free-adventures button:hover {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

/* =============== MEET THE CHARACTERS ===============*/

#meet-characters {
    width: 100%;
    background-color: var(--bg-secondary);
}

#meet-characters .meet-characters-land {
    width: 100%;
    height: 50vh;
    background-image: url(./img/meet-characters.jpg);
    background-position: center;
    background-size: cover;
}

#meet-characters .meet-characters-land p {
    color: var(--text-secondary);
    text-align: center;
    font-size: .7rem;
    text-shadow: 1px 1px 2px black;
}

#meet-characters .meet-characters-land h6 {
    font-size: 1.5rem;
    color: var(--text-secondary);
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

#meet-characters h2 {
    color: var(--text-secondary);
    text-align: center;
    padding: 50px 0;
}

#meet-characters .flex-wrapper {
    display: flex;
    justify-content: center;
}

#meet-characters .flexbox {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#meet-characters .column {
    display: flex;
    flex-direction: column;
}

#meet-characters .book-cover {
    transform: translateX(2.5rem);
}

#meet-characters img {
    width: 300px;
    height: 300px;
    margin: 20px 5px;
}